/* ---- Main Content ---- */
.home-featured-container {
    /* padding: 4rem 0; */
    background-image: url('/src/Assets/Design/racetrack-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-featured-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 3rem;
}

/* ---- Banner ---- */
.banner-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.broncohacks_banner {
    position: relative;
    /* width: 90%; */
    width: 100%;
    height: 100%;
    margin-bottom: 3em;
    /* border: 0.5rem solid #97D8C4; */
    border-bottom: 0.5rem solid #97D8C4;
    /* border-radius: 0.625rem; */
    z-index: 0;
}


.sign-up-link {
    position: absolute;
    width: 25%;
    height: 35%;
    /* border: 0.2rem solid black; */
    top: 40%;
    left: 37%;
    z-index: 1;
}

/* ---- Slideshow ---- */
.slides {
    position: left;
}

/* .containerStyles {
    width: 31.25rem;
    height: 17.5rem;
    margin: 0 auto;
    outline: 0.313rem solid #97D8C4;
    border-radius: 0.625rem;
    outline-width: 0.35rem;
} */

.home-map {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-wrapper {
    outline: 0.313rem solid #97D8C4;
    border-radius: 0.625rem;
    outline-width: 0.35rem;
}

/* ---- Media Queries ---- */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {    
    .home-featured-row1 {
        display: flex;
        column-gap: 3em;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .home-featured-row {
        flex-direction: column;
    }
}
